/*Root*/

:root {

    --white: rgb(255, 255, 255);
    --offwhite: whitesmoke;
    --purple: rgb(62 61 123);
    --greyborder: #b9b4b4;
    --black: rgb(0 0 0);
    --fullwidth: -webkit-fill-available;
    --border: dashed;
    --bordercurve: 10px;
    --cardborder: 10px
}


/*General Styles & Typography*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--white)
}

img {
    height: 200px;
    width: 200px
}

h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    flex-basis: 30%;
    color: var(--white)
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    flex-basis: 30%;
}


/*Header & Main Navigation*/

header {
    position: static;
    left: 0px;
    right: 0px;
    top: 0px;
}

header img {
    width: 100vw;
    height: 1000px;
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
    width: var(--fullwidth);
}

.header {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1;
    width: var(--fullwidth);
}

.nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.nav li {
    margin: 0px 60px;
}


/*Main*/

main {
    background-color: var(--offwhite);
    top: 1000px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: relative;
    padding: 40px;
}


/*About Me Section*/

.bio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 60px;
}

.bio-title h2 {
    background-color: var(--offwhite);
    position: relative;
    top: -110px;
    padding: 30px;
}

.biography {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 20px;
    top: -100px;
    position: relative;
}

.biography p {
    padding: 0px 75px;
}

.biography div {
    padding: 0px 100px;
}

.biography img {
    width: 300px;
    height: 300px
}

.social-media img {
    width: 50px;
    height: 50px;
    padding: 15px
}


/*Projects Section*/

.projects-title {
    display: flex;
    justify-content: center;
    background-color: var(--offwhite);
    height: 60px;
    align-items: center;
    padding: 0px 20px 20px;
    position: relative;
    top: -40px;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--offwhite);
    border-style: var(--border);
    border-width: 5px;
    border-color: var(--greyborder);
    border-radius: 2%;
    padding: 20px;
    position: relative;
    top: -40px;
}

.projects h3 {
    display: flex;
    justify-content: center;
    flex-basis: 30%;
    background-color: var(--purple);
    align-items: center;
    padding: 0px 10px;
    border-radius: var(--bordercurve);
}

.project-card-1 {
    color: var(--white);
    text-align: center;
    border-style: solid;
    border-color: var(--purple);
    border-width: var(--cardborder);
    margin: 10px 10px 50px 10px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 2000px;
    background: url("../Assets/Images/digital-marketing-meeting.jpg") 0 0 no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.project-card-1 p {
    background-color: var(--purple);
    position: relative;
    right: 10px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    padding: 0px 100px;
    border-radius: var(--bordercurve);
}

.project-card {
    color: var(--white);
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-color: var(--purple);
    border-width: var(--cardborder);
    margin: 10px 10px 50px 10px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 600px;
    background: url("../Assets/Images/bov.jpg") 0 0 no-repeat;
    background-size: cover;
    overflow: hidden;
}

.project-card p {
    background-color: var(--purple);
    position: relative;
    right: 10px;
    height: 70px;
    display: flex;
    align-items: center;
}


.project-card-1:hover,
.project-card:hover {
    box-shadow: inset 0px 0px 8px rgb(236, 116, 122), 0 0 15px rgb(216, 100, 100);
}

.projects img {
    height: 200px;
    width: 300px;
    border-radius: var(--bordercurve)
}


/*Contact*/

.contact-title {
    display: flex;
    justify-content: center;
    right: 11px
}

.contact {
    display: flex;
    justify-content: center;
}

.contact a {
    padding: 0px 100px;
    color: var(--white);
    border-style: var(--border);
    border-width: 1px;
    border-color: var(--greyborder);
    border-radius: 2%;
    display: flex;
    align-items: center;
    background-color: var(--purple);
}


/*Footer*/

footer {
    display: flex;
    position: relative;
    bottom: -1000px;
    align-content: center;
    background-color: var(--purple);
    color: var(--white);
}

.footer {
    display: flex;
    width: var(--fullwidth);
}

.footer h4 {
    width: var(--fullwidth);
    display: flex;
    justify-content: center;
}



/*Responsive design - max width 1000px*/

@media screen and (max-width: 1000px) and (min-width: 769px) {

    header,
    main {
        flex-direction: column;
        display: flex;
    }


    header img {
        height: 600px;
    }

    h1 {
        display: inline;
        flex-basis: 0%;
        color: var(--white);
        bottom: -200px;
        right: -100px;
        position: relative;
    }

    .nav ul,
    .nav {
        flex-direction: column;
        position: relative;
        top: -150px;
    }

    .nav a {
        border-width: 2px;
        border-color: var(--white);
        border-style: var(--border);
        padding: 20px;
    }

    .nav li {
        bottom: -300px;
        position: relative;
        padding: 40px;
    }

    main {
        top: 610px
    }

    .biography {
        flex-direction: column;
    }

    footer {
        bottom: -600px;
    }
}

/*Responsive design - max width 768px*/
@media screen and (max-width: 768px) {


    main {
        flex-direction: column;
        display: flex;
        top: 460px;
    }

    .header {
        display: inline
    }

    header img {
        height: 300px;
    }

    header h1 {
        bottom: -75px;
        position: relative;
    }

    .nav {
        justify-content: space-evenly;
        bottom: -190px;
        position: relative;
        right: 30px;
    }

    .nav li {
        border-width: 2px;
        border-color: var(--black);
        border-style: var(--border);
        margin: 0px
    }

    .nav a {
        color: var(--black);
        font-size: 25px;
    }


    .biography {
        flex-direction: column;
    }

    .biography p {
        padding: 0px
    }

    .project-card-1 p {
        border-radius: 10px;
        height: 400px;
        right: 0px;
        bottom: -29px;
        width: 95%;
        padding: 0px
    }

    .project-card {
        height: 580px;
    }

    .project-card p {
        border-radius: 10px;
        height: 250px;
        right: 0px;
        bottom: -30px;
    }

    .contact a {
        padding: 0px 50px;
    }

    footer {
        bottom: -450px
    }
}

/*Responsive design - max width 400px*/
@media screen and (max-width: 450px) {
    .nav {
        right: 20px;
        display: flex;
        flex-direction: column;
        bottom: -130px
    }

    main {
        top: 540px;
    }

    .footer {
        bottom: -550px
    }

}