:root {
    :
}


/*General Styles & Typography*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

img {
    height: 200px;
    width: 200px
}

h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    flex-basis: 30%;
    color: rgb(255, 255, 255)
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-basis: 30%;
}

/*Header & Main Navigation*/

header {
    position: static;
    left: 0px;
    right: 0px;
    top: 0px;

}

header img {
    width: 100vw;
    height: 1000px;
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
    width: -webkit-fill-available;
}

.header {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1;
    width: -webkit-fill-available;
}

.nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;

}

.nav li {
    margin: 0px 60px;
}


/*Main*/

main {
    background-color: whitesmoke;
    top: 1000px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: relative;
    padding: 40px;
    /* to make tabs headed
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    */

}

/*About Me Section*/
.bio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 60px;
}

.biography {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0px 200px 40px;
    padding: 20px;
}

.biography p {
    padding: 0px 75px;
}

.biography div {
    padding: 0px 100px;
}

.biography img {
    width: 300px;
    height: 300px
}

.social-media img {
    width: 50px;
    height: 50px;
    padding: 15px
}

.social-media-fb {
    width: 30px;
    height: 50px;
    padding: 15px
}

/*Experience Section*/

.experience {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 10px 0px 35px;
    border-radius: 10px;

}

.experience a {
    color: black
}

.experience-title {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 60px;
    align-items: center;
    padding: 35px 0px 30px 0px;
    border-radius: 10px;
}

.experience-title h2 {
    border-style: dashed;
    border-width: 5px;
    border-color: #b9b4b4;
    border-radius: 2%;
    padding: 12px;
}

.experience-card {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border-style: solid;
    border-width: 0px 1px;
    border-color: #b9b4b4;
    padding: 60px;

    /*
    border-style: dashed;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    border-radius: 10%;
    padding: 20px; */
}

.experience-card img {
    width: 300px;
    height: 300px
}


/*Projects Section*/
.projects-title {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    height: 60px;
    align-items: center;
    padding: 20px;
}


.projects {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-style: dashed;
    border-width: 5px;
    border-color: #b9b4b4;
    border-radius: 2%;
    padding: 20px;

}

.project-card {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    justify-content: center;
}

.projects img {
    height: 200px;
    width: 300px;
    border-radius: 10px
}

/*Footer*/
footer {
    display: flex;
    position: absolute;
    bottom: -1900px;
    flex-wrap: nowrap;
    align-content: center;
    right: 45%;
    /* left: 50%; */
    justify-content: center;

}